.page__section-narrow {
    padding: 0 148px;
    margin: 0 auto 92px auto;
}

@media all and (max-width: 1279px){
    .page__section-narrow {
        padding: 0 48px;
    }
}

@media all and (max-width: 1023px){
    .page__section-narrow {
        padding: 0 24px;
        margin: 0 auto 88px auto;
    }

    .page__section-narrow.lead {
        padding: 0;
    }
}

@media all and (max-width: 767px) {
    .page__section-narrow {
        padding: 0 16px;
        margin: 0 auto 64px auto;
    }

    .page__section-narrow.places {
        padding: 0;
    }
}