.footer__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

@media all and (max-width: 767px){
    .footer__links {
        flex-direction: column;
    }
}