.places__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

@media all and (max-width: 767px) {
  .places__website {
    padding: 0 16px;
  }
}
